<section>
  <div class="page-header">
    <h1>Portfolio</h1>
  </div>
  <!--<div class="list-group">
    <a ng-repeat="portfoli in vm.portfolis" ui-sref="portfolis.view({ portfoliId: portfoli._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="portfoli.created | date:'mediumDate'"></span>
        by
        <span ng-if="portfoli.user" ng-bind="portfoli.user.displayName"></span>
        <span ng-if="!portfoli.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="portfoli.title"></h4>
      <p class="list-group-item-text" ng-bind="portfoli.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.portfolis.$resolved && !vm.portfolis.length">
    No portfolis yet, why don't you <a ui-sref="portfolis.create">create one</a>?
  </div>-->

    <div class="">
     <p>Hello</p>
    </div>


</section>
